<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manipur</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="static/css/styles.css" rel="stylesheet" />
<style>
    a.one{
        font-size: 25px;
        color: white;
    }
</style>
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <div class="logo">
                            <img src="static\image\img\incredible_india.png" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <br>
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item dropdown" style="font-size: larger;">
                                    <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Explore
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="exploreDropdown">
                                        <a class="dropdown-item" href="#" onclick=location.href="andhrapradesh.html">Andhra Pradesh</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="bihar.html">Bihar</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="gujarat.html">Gujarat</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="kerala.html">Kerala</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="maharashtra.html">Maharashtra</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="manipur.html">Manipur</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="mp.html">Madhya Pradesh</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="odisha.html">Odisha</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="punjab.html">Punjab</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="rajasthan.html">Rajasthan</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="tn.html">Tamil Nadu</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="telangana.html">Telangana</a></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="login.html">Login</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="signup.html">Signup</a>
                                </li>
                                <li>
                                    <a class="nav-link tm-nav-link" href="booking.html">Booking</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            <header id="my_header">
                <div>
                    <a class="one" href="maharashtra.html">&lt;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div>
                    <h2 class="mb-4 tm-content-title">Manipur</h2>
                </div>
                <div>
                    <a class="one" href="mp.html">&nbsp;&nbsp;&nbsp;&nbsp;&gt;</a>
                </div>
            </header>
            <h4></h4>
            <div class="tm-row">
                <div class="tm-col-left">
                    <section class="tm-content">

                       <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="static\image\manipurimg\Manipur.jpg"   alt="Image" width="600" height="500" class="tm-service-img"style="height: 500 px ; width: 500 px ;">
                            <div class="media-body tm-service-text">
                            </div> 
                        </div>
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Cultural Heritage and Significance:</h2><br>
                            <p style="font-size: large;">Manipur, a northeastern state in India, is renowned for its vibrant and diverse folk culture. This culture is a reflection of the state's rich history, diverse ethnic groups, and unique geographical location. Here are some key aspects of Cultural Heritage and Significance::</p>
                            <p style="font-size: larger;">
                                Meitei Civilization: Manipur's rich cultural heritage is closely tied to the Meitei civilization. The Meitei people have developed unique art, music, dance, and literature.
                            <p style="font-size: larger;">
                                Religious Diversity: Manipur is home to a diverse religious landscape, with Hinduism and Christianity being the major religions. This diversity has contributed to the state's cultural richness.
                            </p>
                            <p style="font-size: larger;">Religious Diversity: Manipur is home to a diverse religious landscape, with Hinduism, Christianity, and Islam being the major religions. This diversity has contributed to the state's cultural richness.<p></p>
                            </p>
                            <a href=""><img src="static\image\manipurimg\mm.jpg" alt="Image"width="550" height="300">
                               </a>
                                <br>
                                <br>
                                <br>
                            
                        </div>

                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-titlet" data-reveal="top" data-reveal-delay="1s">Language and Literature</h2><br>
                            <p style="font-size: larger;">
                                Manipuri is a Tibeto-Burman language spoken primarily in the northeastern Indian state of Manipur. It has a rich literary tradition dating back centuries.</p>
                                <p> It uses the Meitei Mayek script, a distinctive writing system developed specifically for the language.</p> 
                            <a href="cultural_bihar.html"><img src="static\image\manipurimg\script.jpg" alt="Image" width="500" height="300"></a> 
                            <br><br>
                            <!--class="tm-service-img"-->
                           <!-- <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Language and Literature</h2>
                                <p>
                                    The primary languages spoken in Bihar are Maithili and Bhojpuri. These languages have a rich literary tradition, with many famous poets and writers hailing from the state.
                                    Classical Indian Literature: Bihar has also contributed significantly to classical Indian literature. The epic Ramayana is believed to have been composed in the region. 
                                </p> 
                            </div> -->
                        </div> 
                        
                                              
                    </section>
                </div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <div > <!--class="media-body tm-service-text"-->
                                <h1 style="font-size: 30px;" class="mb-4 tm-content-title">Manipur: The Jeweled Land</h1>
                                <p style="font-size: larger;">Manipur, a northeastern state in India, is renowned for its rich cultural heritage, which is a beautiful blend of ancient traditions, diverse ethnicities, and modern influences.

                                    Here are some key aspects of Manipuri culture:   
                                   
                                   </p>
  
                            </div> 
                        </div> 
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <!--<a href="madhubani.html"><img src="img\madhubani_painting.jpg" width="300" height="500" alt="Image" class="tm-service-img"></a>-->
                            <div class=>
                                <h2 class="mb-4 tm-content-title">Cultural Tapestry</h2>
                                <img src="static\image\manipurimg\manipur-art-culture.jpg" alt="Image" width="600" height="350">
                                <p style = "font-size: large;">The culture of Manipur is a beautiful tapestry of traditions, customs, and beliefs. It reflects the state's diverse ethnic heritage and its unique position at the crossroads of India and Southeast Asia.</p>
                                <p style="font-size: larger;">Key Aspects of Manipuri Folk Culture:</p>
                                <p style="font-size: larger;">Dance: Manipuri dance is renowned for its grace, elegance, and intricate hand gestures. Popular styles include the classical Manipuri dance and the folk dances like the Lai Haraoba and the Kang Chingba.</p>
                                <p style="font-size: larger;">Influence of Vaishnavism: The Vaishnava Bhakti movement, which spread to Manipur in the 15th century, had a profound influence on the state's folk culture. Many folk songs and dances are inspired by Vaishnava themes.</p>
                                <p style="font-size: larger;"></p>
                                <p style="font-size: larger;"></p>
                                <br>
                                
                            </div> 
                        </div>
                        
                            <!--class="tm-service-img"-->
                           <!-- <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Language and Literature</h2>
                                <p>
                                    The primary languages spoken in Bihar are Maithili and Bhojpuri. These languages have a rich literary tradition, with many famous poets and writers hailing from the state.
                                    Classical Indian Literature: Bihar has also contributed significantly to classical Indian literature. The epic Ramayana is believed to have been composed in the region. 
                                </p> 
                            </div> -->
                        
                        <!--<div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <h2 class="mb-4 tm-content-title">Bihari Folk Music</h2>
                            <p>Languages: The folk music of Bihar is primarily performed in the Bhojpuri, Maithili,Magahi and Angika languages.</p>
                            <p>Themes: The songs often deal with themes of love, loss, social issues, and religious beliefs.</p>
                            <p>Instruments: Traditional instruments used in Bihari folk music include the dhol (a double-headed drum), the tabla (a pair of small drums), the bansuri (a bamboo flute), and the harmonium.</p>
                            <img src="img/Palakkad.jpg" alt="Image" class="tm-service-img">
                         <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Palakkad</h2>
                                <p>Celebrated as the Granary of Kerala, Palakkad is a vast stretch of fertile plains interspersed with hills, rivers, mountain streams and forests. The gateway to Kerala from the north, a 40 kilometre break in the mountains known as the Palakkad Gap gives access to this land situated at the foot of the Western Ghats.<a href="palakkad.html">read more..</a> </p>
  
                            </div> 
                        </div> -->

                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <br><br>
                            <h2 class="mb-4 tm-content-title">Cuisine: </h2>
                            <p style="font-size: larger;">Manipuri cuisine is a unique and flavorful blend of traditional Indian and Southeast Asian influences. Known for its simplicity and use of fresh, local ingredients, it offers a delightful culinary experience.

                            </p>
                            <p>Kangsoi: A popular vegetable stew made with fermented fish and a variety of greens</p>
                            <p>Eromba: A flavorful dish made with boiled vegetables, fermented fish, and spices</p>
                            <p>Ngari: Fermented fish, often used as a flavoring agent in various dishes.</p>
                            <p>Singju: A refreshing salad made with seasonal vegetables, herbs, and a tangy dressing.

                            </p>
                            
                            <a href="food_bihar.html"><img src="static\image\manipurimg\cusine.png" alt="Image"width="500" height="400"></a>
                            <br>
                            <br>
                        </div>

                    </section>
                </main>
            </div>
        </div>        
        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-right"></div>
            <div class="tm-bg-right"></div>
        </div>
        <h2 style="text-align: center;">Historical Significance</h2>
        <h3 style="text-align: center;">Manipur, a northeastern Indian state, has a rich and complex history that spans centuries. Its strategic location at the crossroads of ancient trade routes and its unique cultural heritage have played significant roles in shaping its historical significance.</h3>

        <div class="tm-row">
            <div class="tm-col-left">
                <section class="tm-content">
                    <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Early Kingdoms</h2><br>
                        <p style="font-size: larger;">
                            Manipur's history dates back to the 3rd century AD when it was ruled by the Ningthouja dynasty. These early kingdoms were known for their trade relations with neighboring regions, including China and Burma.  
                        </p>
                        <p style="font-size: larger;">
                            Meitei Empire: The Meitei Empire, which rose to prominence in the 15th century, was a powerful and influential kingdom. The Meitei people developed a distinct culture, language, and religion.
                        </p>
                        <p style="font-size: larger;">Ningthou Ching-Thang Khomba (also Rajarshi Bhagya Chandra, Jai Singh Maharaja) (1748–1799) was a Meitei monarch of the 18th century CE. He is known for having invented the Manipuri Raas Leela dance. 
                           </p>
                        
                        <a href="magadh.html"><img src="static\image\manipurimg\Ching-Thang_Khomba.jpg" alt="Image" width="400" height="500"></a> 
                        <br>
                        <br>
                    </div>
                    <div>
                        

                    </div>
                </section>
            </div>
            <main class="tm-col-right">
                <section class="tm-content">
                    <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Independence Movement: </h2><br>
                        <p style="font-size: larger;">
                            Manipur came under British colonial rule in the early 19th century. The British sought to control the region due to its strategic location and trade potential.   
                        </p>
                        <p style="font-size: larger;">
                            Manipur played a significant role in India's independence movement. The state's freedom fighters participated in the struggle against British colonial rule.    
                        </p>
                        <p style="font-size: medium;">
                            Shaheed Minar: The indomitable spirit of the patriotic Meitei and tribal martyrs, who sacrificed their lives while fighting the British in 1891, is commemorated by this tall Minar at Bir Tikendrajit Park in the heart of Imphal city.
                        </p>
                        <p style="font-size: medium;">
                        
                        </p>
                        <p style="font-size: medium;">
                        
                        </p>
                        <a href="nalanda.html"><img src="static\image\manipurimg\mo.jpg" alt="Image"width="400" height="250">
                        <img src="static\image\manipurimg\Design.png" width="200" height="250" alt="Image"></a>
                    </div>
                </section>
            </main>
        </div>
               <h2 style="text-align: center;">Festivals  </h2>
               <h3 style="text-align: center;">Manipuri festivals offer a glimpse into the rich and diverse cultural heritage of the state. They are a testament to the resilience and creativity of the Manipuri people.</h3>
               <div class="tm-row">
                
                <div class="tm-col-left">
                    <section class="tm-content">
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Lai Haraoba</h2><br>
                            <p style="font-size: larger;">
                                Significance: The most important festival in Manipur, dedicated to the worship of nature and fertility deities.</p>
                            <p style="font-size: larger;">
                                Rituals: Involves elaborate rituals, including offerings, prayers, and sacrifices.</p>
                            <p style="font-size: larger;">
                                Features traditional dances, music, and theatrical performances.
                                Typically lasts for seven days.</p>
                            <a href="magadh.html"><img src="static\image\manipurimg\lai_haroba.webp" alt="Image" width="500" height="300"></a> 
                            <br><br>
                        </div>
            
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Kang Chingba</h2><br>
                            <p style="font-size: larger;">
                                Significance: Celebrates the beginning of the Manipuri New Year.</p>
                            <p style="font-size: larger;">
                                Activities: Includes traditional dances, music, feasts, and cultural competitions.</p>
                            <p style="font-size: larger;">
                                Symbolism: Often associated with the sowing of seeds and the hope for a prosperous year.</p>
                            <a href="magadh.html"><img src="static\image\manipurimg\Konung_Kang.jpg" alt="Image" width="450" height="300"></a> 
                            <br><br>
                        </div>
                    </section>
                </div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Yaoshang</h2><br>
                            <p style="font-size: larger;">Significance: Also known as Holi, a festival of colors and joy.</p>
                            <p style="font-size: larger;">Celebrations: Involves throwing colored water and powders, singing, dancing, and feasting.</p>
                            <p style="font-size: larger;">Symbolism: Represents the triumph of good over evil and the renewal of life.</p> 
                            <a href="nalanda.html"><img src="static\image\manipurimg\yaoshang.jpeg" alt="Image"width="500" height="300"></a>
                            <br><br>
                        </div>
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Gang Ngai</h2><br>
                            <p style="font-size: larger;">Significance: A festival celebrated by the Meitei community to mark the beginning of the agricultural year.</p>
                            <p style="font-size: larger;">Rituals: Involves prayers, offerings, and agricultural rituals.</p>
                            <p style="font-size: larger;"> Symbolism: Represents the hope for a bountiful harvest and prosperity.</p> 
                            <a href="nalanda.html"><img src="static\image\manipurimg\gang-ngai.jpg" alt="Image"width="500" height="300">
                               <!-- <img src="img/Dahi Handi.webp" alt="Image"width="200" height="400">--> </a>
                        </div>
                    </section>
                </main>
                <br>
                <br>


    
             </div>
        </div>
        <h2 style="text-align: center;">Tourist Attractions </h2>
        <h3 style="text-align: center;">Manipur, a northeastern Indian state, offers a unique blend of natural beauty, cultural heritage, and adventure. Here are some of its top tourist attractions:</h3>
        <div class="tm-row">
            <div class="tm-col-left">
                <section class="tm-content">
                    <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">
                            Loktak Lake</h2><br>
                        <a href="thrillophilia.com/places-to-visit-in-manipur">   
                            <img src="static\image\manipurimg\loktak_lake.avif" alt="Image" width="350" height="300"></a>
                        <p style="font-size: larger;">
                            
                        </p>
                        <p style="font-size: larger;">
                            One of the most beautiful places to visit in Manipur, Loktak Lake is the largest fresh water lake in India. It is located at a distance of about 50 km from the capital city Imphal, in the valley of Imphal.</p>
                        <p style="font-size: larger;">
                            The lake along with the Sendra Island, which is a floating island that is made of organic waste, presents unparalleled scenic beauty and is an absolute must-visit.</p>
                        
                        <br><br>
                        <br>
                         <br> 
                    </div>
                  
                  
                </section>
            </div>
            
            <div class="tm-col-right">
                <section class="tm-content">
                    <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">
                            Kangla Fort</h2><br>
                        <a href="thrillophilia.com/places-to-visit-in-manipur/">   
                            <img src="static\image\manipurimg\kangla-fort.avif" alt="Image" width="400" height="300"></a>
                        <p style="font-size: larger;">
                            This ancient capital had been the seat of Manipur’s power till 1891 and is a scintillating representation of the different rulers that reigned over this magical land. It is also a reflection of the people of Manipur, their way of life, culture and tradition.</p>
                        <p style="font-size: larger;">
                           </p>
                        <p style="font-size: larger;">
                          </p>

                        <p style="font-size: larger;">
                           
                        </p>
                        
                        <br><br>
                        <br>
                         <br> 
                    </div>
                   
                   
                   
                </section>
            </div>
            <div class="tm-col-left">
                <section class="tm-content">
                    <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Imphal Valley</h2><br>
                        <a href="thrillophilia.com/places-to-visit-in-manipur">   
                            <img src="static\image\manipurimg\City_of_Imphal.avif" alt="Image" width="400" height="300"></a>
                        <p style="font-size: larger;">
                            Imphal Valley, an oval shaped canyon, makes for a marvelous sight when you are visiting Manipur. It has been formed as a result of drainage of several little rivers draining their water here.   
                        </p>
                        <p style="font-size: larger;">
                            These rivers largely originate from the surrounding hills and include rivers like, River Iril, Imphal, Khuga, Thoubal and Sekmai.</p>
                        <p style="font-size: larger;">
                            The entire valley spans across an expansive area of 1843 sq km, almost one tenth of the total area of the state of Manipur.
                         <br>
                         <br>  
                         <br>
                        
                    </p>
                        
    
                    </div>
                  
                </section>
            </div>
              

        

        <!--<div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>        
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Website Design By 
                    
                    | <a rel="nofollow" target="_parent" href="https://github.co" class="tm-text-link">COOKIES</a></p>
                </footer>
            </div>  
        </div> -->
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js" integrity="sha512-bXc1hnpHIf7iKIkKlTX4x0A0zwTiD/FjGTy7rxUERPZIkHgznXrN/2qipZuKp/M3MIcVIdjF4siFugoIc2fL0A==" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/t.js"></script>

    <script src="https://cdn.botpress.cloud/webchat/v2.1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/35f62baa-53e9-4c8f-abc1-6d6ae080eac5/webchat/v2.1/config.js"></script>

</body>

</html>