<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Punjab (ਪੰਜਾਬ)</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="static/css/styles.css" rel="stylesheet" />
<style>
    a.one{
        font-size: 25px;
        color: white;
    }
</style>
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <div class="logo">
                            <a href="index.html"><img src="static\image\img\incredible_india.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <br>
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item dropdown" style="font-size: larger;">
                                    <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Explore
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="exploreDropdown">
                                        <a class="dropdown-item" href="#" onclick=location.href="andhrapradesh.html">Andhra Pradesh</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="bihar.html">Bihar</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="gujarat.html">Gujarat</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="kerala.html">Kerala</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="maharashtra.html">Maharashtra</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="manipur.html">Manipur</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="mp.html">Madhya Pradesh</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="odisha.html">Odisha</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="punjab.html">Punjab</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="rajasthan.html">Rajasthan</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="tn.html">Tamil Nadu</a>
                                        <a class="dropdown-item" href="#" onclick=location.href="telangana.html">Telangana</a></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="login.html">Login</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="signup.html">Signup</a>
                                </li>
                                <li>
                                    <a class="nav-link tm-nav-link" href="booking.html">Booking</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            <header id="my_header">
                <div>
                    <a class="one" href="odisha.html">&lt;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div>
                    <h2 class="mb-4 tm-content-title">Punjab (ਪੰਜਾਬ)</h2>
                </div>
                <div>
                    <a class="one" href="rajasthan.html">&nbsp;&nbsp;&nbsp;&nbsp;&gt;</a>
                </div>
            </header>
            <div class="tm-row">
                <div class="tm-col-left">
                    <section class="tm-content">
/
                       <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="static\image\imgpunjab\punjab_map.jpg"   alt="Image" width="600" height="600" class="tm-service-img hiddenl"style="height: 500 px ; width: 500 px ;">
                            <div class="media-body tm-service-text">
                            </div> 
                        </div>
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title hiddenl">Punjabi Folk Culture: A Rich Tradition</h2>
                            <h4 class="hiddenl" style="font-size: large;">Punjabi folk culture is a vibrant and diverse tapestry, reflecting the region's rich history, agricultural heritage, and social customs. Here are some key aspects of Punjabi folk culture:</h4>
                            <p class="hiddenl" style="font-size: larger;">Music and Dance:</p>
                               <p class="hiddenl"  style="font-size: large;">Bhangra: This energetic dance form is synonymous with Punjabi culture, featuring rhythmic footwork, energetic jumps, and vibrant costumes. It's often accompanied by the dhol, a double-headed drum, and other traditional instruments. </p>
                                <p class="hiddenl"  style="font-size: large;">Giddha: A traditional folk dance performed by women, Giddha involves clapping, singing, and forming a circle. The lyrics of Giddha songs often revolve around themes of love, friendship, and social issues.</p>
                                <p class="hiddenl"  style="font-size: large;">Folk Songs: Punjabi folk songs are characterized by their lively rhythms, catchy melodies, and lyrics that celebrate love, heroism, and social issues. Popular themes include agricultural life, religious devotion, and historical events.</p>
                             <a href=" " ><img class="hiddenl" src="static\image\imgpunjab\dance.jpg" alt="Image"width="600" height="600">
                            </a>

                                <p class="hiddenl" style="font-size: larger;">Folk Tales and Legends:</p>
                                <p class="hiddenl"  style="font-size: large;">Heer Ranjha: A famous Punjabi love story, Heer Ranjha is a tragic tale of two lovers who are separated by social barriers.</p>
                                 <p class="hiddenl"  style="font-size: large;">Sohni-Mahiwal: Another popular Punjabi folk tale, Sohni-Mahiwal tells the story of a young woman who crosses a river every night to meet her lover, a fisherman</p>
                                 <p class="hiddenl"  style="font-size: large;">Folklore and Mythology: Punjabi folklore is rich in myths, legends, and supernatural beings, such as fairies, demons, and gods.</p>
                                 <a href=" " ><img class="hiddenl" src="static\image\imgpunjab\punjabi folklore.png" alt="Image"width="550" height="350"></a>
                                  
 
                                <br>
                                <br>
                                <br>
                            
                        </div>

                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                           
                                
                            <br><br>
                            <!--class="tm-service-img"-->
                           <!-- <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Language and Literature</h2>
                                <p>
                                    The primary languages spoken in Bihar are Maithili and Bhojpuri. These languages have a rich literary tradition, with many famous poets and writers hailing from the state.
                                    Classical Indian Literature: Bihar has also contributed significantly to classical Indian literature. The epic Ramayana is believed to have been composed in the region. 
                                </p> 
                            </div> -->
                        </div> 
                        
                                              
                    </section>
                </div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <div > <!--class="media-body tm-service-text"-->
                                <h1 style="font-size: 30px;" class="mb-4 tm-content-title hiddenr">Punjab: Where Tradition Meets Modernity</h1>
                                <p style="font-size: larger;" class="hiddenr">Punjab, a state in India known for its fertile plains and rich agricultural heritage, boasts a vibrant and colorful culture. Here are some key aspects of Punjabi culture:</p>
  
                            </div> 
                        </div> 
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <!--<a href="madhubani.html"><img src="img\madhubani_painting.jpg" width="300" height="500" alt="Image" class="tm-service-img"></a>-->
                            <div class=>
                                <h2 class="mb-4 tm-content-title hiddenr" >Hospitality: A Way of Life</h2>
                                <img class="hiddenr" src="/static\image\imgpunjab\langar.jpg" alt="Image" width="500" height="300">
                                <p class="hiddenr" style="font-size: larger;">Langar: The Sikh tradition of langar, where free meals are served to everyone regardless of caste, creed, or religion, is a testament to Punjabi hospitality.</p>
                                <p class="hiddenr" style = "font-size: large;"> Sat Sri Akal: This Punjabi greeting, meaning "True Name Blessed," is a common expression of welcome and respect. </p>
                                <p class="hiddenr"style="font-size: larger;"></p>
                                <p class="hiddenr" style="font-size: larger;"></p>
                               
                            </div> 
                        </div>
                        
                        <h2 class="mb-4 tm-content-titlet hiddenr" data-reveal="top" data-reveal-delay="1s">Punjabi Language and Literature:</h2><br>
                        <p class="hiddenr" style="font-size: larger;">
                            Punjabi is a vibrant and widely spoken language, primarily associated with the Indian state of Punjab,belongs to the Indo-Aryan language family. It has a rich literary tradition, with a diverse range of genres and styles.</p>
                            <p class="hiddenr" > Punjabi is primarily written in the Gurmukhi script,The early period of Punjabi literature dates back to the 12th century with poets like Fariduddin Ganj Shakar and Baba Bulleh Shah.</p> 
                        <a href="cultural_bihar.html"><img class="hiddenr" src="static\image\imgpunjab\gurumukhi.jpg" alt="Image" width="300" height="300"></a> 

                        <p class="hiddenr" style="font-size: larger;">Notable Punjabi Writers</p>
                            <p class="hiddenr"  style="font-size: large;">Waris Shah: Famous for his epic love story "Heer Ranjha," Waris Shah is considered one of the greatest Punjabi poets.</p>
                             <p class="hiddenr"  style="font-size: large;">Amrita Pritam: A prominent Punjabi writer and poet, Amrita Pritam's works often explored themes of love, loss, and social issues.</p>
                             <p class="hiddenr"  style="font-size: large;">Gurdial Singh: A renowned novelist, Gurdial Singh's works often depicted rural life and social issues in Punjab.</p>
                             


                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <br><br>
                            <h2 class="mb-4 tm-content-title hiddenr">Punjabi Cuisine: A Flavorful Odyssey</h2>
                            <p class="hiddenr" style="font-size: larger;">Punjabi cuisine is a delicious and satisfying culinary experience that reflects the region's rich heritage and cultural diversity. With its bold flavors, hearty dishes, and a wide variety of options, there's something for everyone to enjoy.</p>
                            <p class="hiddenr">Sarson ka Saag: A spinach-based dish often served with makki roti (cornbread).</p>
                            <p class="hiddenr">Chole Bhature: A hearty meal consisting of chickpeas (chole) and deep-fried bread (bhatura).</p>
                            <p class="hiddenr">Butter Chicken: A creamy and flavorful chicken dish cooked in a tomato-based gravy with butter and cream.</p>
                            <p class="hiddenr">Lassi: A thick, yogurt-based drink, often flavored with mango or mint.</p>
                            <p class="hiddenr">Gajar ka Halwa: A sweet carrot dessert made with milk, sugar, and ghee.</p>
                            
                            <a href="food_bihar.html"><img class="hiddenr" src="static\image\imgpunjab\food-of-Punjab.jpg" alt="Image"width="550" height="300"></a>
                        </div>
                        <br>
                        <br>

                    </section>
                </main>
            </div>
        </div>        
        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-right"></div>
            <div class="tm-bg-right"></div>
        </div>
        <h2 style="text-align: center;">Historical Significance</h2>
        <h3 style="text-align: center;">Punjab, a region historically known as the "Land of Five Rivers," has played a pivotal role in the history of the Indian subcontinent. Its strategic location and fertile plains have made it a coveted territory for centuries.</h3>

        <div class="tm-row">
            <div class="tm-col-left">
                <section class="tm-content">
                    <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Ancient Beginnings</h2><br>
                        <p style="font-size: larger;">
                            Indus Valley Civilization: One of the world's earliest urban civilizations flourished in the Punjab region around 3000 BCE 
                        </p>
                        <p style="font-size: larger;">
                            Vedic Period: The Indo-Aryan tribes migrated to the region, bringing the Vedic civilization and laying the foundation of Hinduism.
                        </p>
                         <p style="font-size: larger;">
                            
                        </p>
                        <a href="magadh.html"><img src="static\image\imgpunjab\Ruins_of_Indus_Valley_Civilization,_Punjab.jpg" alt="Image" width="400" height="300"></a> 
                        <br>
                        <br>
                    </div>
                    <div class="hiddenl">
                        <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Rise of Sikhim</h2><br>
                            <p style="font-size: larger;">
                                Guru Nanak: The founder of Sikhism, Guru Nanak, lived and preached in the Punjab region in the 15th century.</p>
                            
                               
                            <a href="magadh.html"><img src="static\image\imgpunjab\guru nanak dev.jpg" alt="Image" width="400" height="400"></a> 
                            <br><br>
                        </div>

                    </div>
                </section>
            </div>
            <main class="tm-col-right">
                <section class="tm-content">
                    <div class="hiddenr"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Medieval Era</h2><br>
                        <p style="font-size: larger;">
                            Islamic Conquest: Muhammad bin Qasim introduced Islam to the region in 712 CE</p>
                        <p style="font-size: larger;">
                            Ghaznavid and Delhi Sultanates: These empires ruled the Punjab region for centuries.</p>
                        
                        <a href="nalanda.html"><img src="static\image\imgpunjab\Map_of_the_Delhi_Sultanate.png" alt="Image"width="300" height="300"></a>
                        <br>
                        <br>
                    </div>
                    <div class="hiddenr">
                        <h2 class="mb-4 tm-content-title">Sikh Empire: </h2><br>    
                        <p style="font-size: larger;" class="hiddenr">
                            Sikh Empire: Maharaja Ranjit Singh united the Punjab region and established the Sikh Empire in the early 19th century</p>
                        <p style="font-size: larger;"class="hiddenr">
                            Unification under Ranjit Singh: In the early 19th century, Maharaja Ranjit Singh united the Punjab region and established the Sikh Empire. His rule was marked by peace, prosperity, and cultural patronage. The Sikh Empire was known for its strong military and its administrative reforms.
                        </p>
                        <a href="nalanda.html"><img src="static\image\imgpunjab\Indian Sikh Empire.jpg" alt="Image"width="500" height="270"></a>
                    </div>
                </section>
            </main>
        </div>
        <div>
            <h3 style="text-align:center;">British Rule and Partition</h3>

            <div class="tm-row">
                <div class="tm-col-left">
                    <section class="tm-content">
                        <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Sikh Resistance:</h2><br>
                            <p class="hiddenl" style="font-size: larger;">
                                he Sikh Empire, led by Maharaja Ranjit Singh, offered a strong resistance to British expansion in the early 19th century. </p>
                            <p class="hiddenl" style="font-size: larger;">
                                Although the empire eventually fell to British rule, its legacy of resistance inspired subsequent generations of Indians.</p>
                             <p class="hiddenl" style="font-size: larger;">
                                
                            </p>
                            <a href="magadh.html"><img src="static\image\imgpunjab\anglo_sikh_war.webp" alt="Image" width="400" height="300"></a> 
                            <br>
                            <br>
                        </div>
                        <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Shahid Bhagat Singh (1907-1931):</h2><br>
                            <p class="hiddenl" style="font-size: larger;">
                                Early Life and Activism: Bhagat Singh was born in Banga, Punjab, India. He was deeply influenced by the revolutionary ideals of the Ghadar Party and the Hindustan Socialist Republican Association (HSRA).</p>
                            <p class="hiddenl" style="font-size: larger;">
                                Revolutionary Activities: Bhagat Singh was involved in several revolutionary acts, including the assassination of a British police officer in Lahore in 1928. He was also involved in the Lahore Conspiracy Case, where he was arrested and sentenced to death.</p>
                                <p style="font-size: larger;">
                                    Martyrdom: Bhagat Singh was hanged on March 23, 1931, at the age of 23. His last words, "Inquilab Zindabad" (Long Live Revolution), became a rallying cry for Indian nationalists.  
                            <a href="nalanda.html"><img src="static\image\imgpunjab\Shaheed Bhagat Singh.webp" alt="Image"width="300" height="300"></a>
                        </div>
                        <div class="hiddenl">
                            <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                                <h2 class="mb-4 tm-content-title">Partition of Punjab</h2><br>
                                <p class="hiddenl" style="font-size: larger;">
                                    In 1947, Punjab was divided along religious lines, with the western part becoming part of Pakistan and the eastern part remaining in India. This partition led to widespread violence and displacement.</p>   
                                    <p class="hiddenl" style="font-size: larger;">
                                        The communal tensions between Hindus and Muslims in Punjab had been escalating for decades. These tensions were exacerbated by the demands of the Muslim League for a separate homeland for Muslims.</p>
                                    <p class="hiddenl" style="font-size: larger;">
                                    Mountbatten Plan: In 1947, Lord Mountbatten, the last Viceroy of India, proposed a plan to partition the country along religious lines. This plan was accepted by both the Congress and the Muslim League.</p>
                                    <a href="magadh.html"><img src="static\image\imgpunjab\Partition_punjab.jpg" alt="Image" width="400" height="250"></a> 
                                <br><br>
                            </div>
    
                        </div>
                    </section>
                </div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="hiddenr">
                            <div> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                                <h2 class="mb-4 tm-content-title">Nationalist Movements:</h2><br>
                                <p  class="hiddenr" style="font-size: larger;">
                                    Punjab became a hotbed of nationalist activity during the Indian independence movement.   
                                    <p  class="hiddenr"  style="font-size: larger;">
                                        Leaders like Bhagat Singh, Sukhdev, and Rajguru, who were instrumental in the Ghadar Party and the Hindustan Socialist Republican Association, hailed from Punjab.</p>
                                    <p  class="hiddenr"  style="font-size: larger;">
                                    Punjab produced a large number of martyrs who sacrificed their lives for India's freedom. Bhagat Singh, Sukhdev, and Rajguru, among others, became icons of the independence movement.</p>
                                    <a href="magadh.html"><img src="static\image\imgpunjab\krantikari of punjab.png" alt="Image" width="400" height="300"></a> 
                                <br><br>
                            </div>
    
                        </div>
                        <div class="hiddenr">
                            <h2 class="mb-4 tm-content-title">The Jallianwala Bagh Massacre:</h2><br>    
                            <p  class="hiddenr"  style="font-size: larger;">
                                The Jallianwala Bagh Massacre was a horrific incident that occurred on April 13, 1919, in Amritsar, India. British troops opened fire on an unarmed crowd of thousands, killing hundreds and injuring many more. This event sparked widespread outrage and galvanized the Indian independence movement.</p>
                            <p  class="hiddenr"  style="font-size: larger;">
                                On April 13, 1919, thousands of people gathered in Jallianwala Bagh, a public park in Amritsar, to celebrate Baisakhi, a Sikh festival.</p>
                            <p  class="hiddenr"  style="font-size: larger;">
                                Brigadier-General Reginald Dyer, the military commander of Amritsar, ordered British troops to enter the park and open fire on the unarmed crowd.</p>
                            <p  class="hiddenr"  style="font-size: larger;">
                                Mahatma Gandhi, the leader of the Indian National Congress, launched the Non-Cooperation Movement in response to the massacre. This movement called for Indians to boycott British goods and institutions.</p>
                                <a href="magadh.html"><img src="static\image\imgpunjab\Jallianwala Bagh massacre.jpg" alt="Image" width="400" height="200"></a>
                                <a href="magadh.html"><img src="static\image\imgpunjab\Jallianwala_Bagh,_Amritsar_01.jpg" alt="Image" width="400" height="300"></a>     
                        </div>
                    </section>
                </main>
            </div>

           


        </div>
        

               <h2 style="text-align: center;">A Deeper Dive into Punjabi Festivals</h2>
               <h3 style="text-align: center;">Punjab, with its vibrant culture and rich traditions, celebrates a variety of festivals throughout the year. Here are some of the most prominent Punjabi festivals:</h3>
               
               <div class="tm-row">
                
                <div class="tm-col-left">
                    <section class="tm-content">
                        <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Baisakhi: A Harvest and Sikh Celebration</h2><br>
                            <p style="font-size: larger;">
                                Significance: Baisakhi marks the Sikh New Year, the founding of the Khalsa brotherhood by Guru Gobind Singh, and the harvest of crops like wheat and mustard.</p>
                            <p style="font-size: larger;">
                                Celebrations: Baisakhi is celebrated with great enthusiasm, featuring colorful processions, traditional dance performances (Bhangra and Giddha), and langar (community kitchen). Sikhs take a holy bath in rivers or sacred pools.</p>
                            <p style="font-size: larger;">
                               </p>
                            <a href="magadh.html"><img src="static\image\imgpunjab\baisakhi-2023-date-significance-of-vaisakhi-sikh-new-year-harvest-festival.jpg" alt="Image" width="500" height="350"></a> 
                            <br><br>
                        </div>
            
                        <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Lohri: A Bonfire Festival</h2><br>
                            <p style="font-size: larger;">
                                Significance: Lohri is a winter solstice festival that marks the harvest of sugarcane and mustard. It is associated with the birth of the Hindu deity Surya.</p>
                            <p style="font-size: larger;">
                                Celebrations: Lohri is celebrated with a bonfire, around which people gather to sing traditional songs, dance, and enjoy sweets and nuts.</p>
                            <p style="font-size: larger;">
                               </p>
                            <a href="magadh.html"><img src="static\image\imgpunjab\lohri celebration.png" alt="Image" width="500" height="300"></a> 
                            <br><br>
                        </div>
                        <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Diwali: The Festival of Lights</h2><br>
                            <p style="font-size: larger;">
                                Significance: Diwali is a Hindu festival celebrating the victory of good over evil. It is also known as the festival of lights.</p>
                            <p style="font-size: larger;">
                                Celebrations: Diwali is celebrated with lighting lamps, fireworks, and feasts. People clean and decorate their homes, and exchange gifts.</p>
                            <p style="font-size: larger;">
                               </p>
                            <a href="magadh.html"><img src="static\image\imgpunjab\diwali.jpeg" alt="Image" width="500" height="300"></a> 
                            <br><br>
                        </div>
                    </section>
                </div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="hiddenr"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Gurpurab: Celebrating Sikh Gurus</h2><br>
                            <p style="font-size: larger;">Significance: Gurpurab is celebrated to commemorate the birth, martyrdom, or enlightenment of Sikh gurus.</p>
                            <p style="font-size: larger;">Celebrations: Gurpurab is marked by religious ceremonies, processions, and langar. Sikhs often visit gurdwaras (Sikh temples) to offer prayers and listen to hymns.</p>
                            <p style="font-size: larger;"></p> 
                            <a href="nalanda.html"><img src="static\image\imgpunjab\Gurpurab.webp" alt="Image"width="500" height="320"></a>
                            <br><br>
                        </div>
                        <div class="hiddenr"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Karva Chauth: A Hindu Festival for Married Women </h2><br>
                            <p style="font-size: larger;">Significance: Karva Chauth is a Hindu festival celebrated by married women to pray for the long life and well-being of their husbands.</p>
                            <p style="font-size: larger;">Celebrations: On Karva Chauth, married women fast from dawn to dusk and perform rituals. In the evening, they break their fast after seeing the moon.</p>
                            <p style="font-size: larger;"> </p> 
                            <a href="nalanda.html"><img src="static\image\imgpunjab\karwa-chauth.jpeg" alt="Image"width="500" height="300">
                               <br>
                               <br>
                                <!-- <img src="img/Dahi Handi.webp" alt="Image"width="200" height="400">--> </a>
                        </div>
                        <div class="hiddenr"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                            <h2 class="mb-4 tm-content-title">Vaisakhi: A Sikh and Hindu Festival</h2><br>
                            <p style="font-size: larger;">Significance: Vaisakhi is a Sikh festival commemorating the founding of the Khalsa brotherhood. It is also a harvest festival in some regions.</p>
                            <p style="font-size: larger;">Celebrations: Vaisakhi is celebrated with similar festivities as Baisakhi, including processions, langar, and religious ceremonies.</p>
                            <p style="font-size: larger;"> </p> 
                            <a href="nalanda.html"><img src="static\image\imgpunjab\Vaisakhi.jpg" alt="Image"width="500" height="300">
                               <!-- <img src="img/Dahi Handi.webp" alt="Image"width="200" height="400">--> </a>
                        </div>
                    </section>
                </main>
                <br>
                <br>


    
             </div>
        </div>
        <h2 style="text-align: center;">Punjab: A Tourist's Paradise</h2>
        <h3 style="text-align: center;">Punjab, a state in northern India, offers a rich tapestry of historical, cultural, and natural attractions. Here are some of the most popular tourist destinations in Punjab:</h3>
        <div class="tm-row">
            <div class="tm-col-left">
                <section class="tm-content">
                    <div class="hiddenr"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Golden Temple,Amritsar</h2><br>
                        <a href="https://www.thrillophilia.com/tours/golden-temple-and-jalianwala-bagh-morning-tour">   
                            <img src="static\image\imgpunjab\The_Golden_Temple_of_Amrithsar_7.jpg" alt="Image" width="350" height="300"></a>
                        <p style="font-size: larger;">
                            
                        </p>
                        <p style="font-size: larger;">
                            Amritsar, colloquially known as Ambarsar, is a city steeped in history and spirituality   
                        </p>
                        <p style="font-size: larger;">
                            Located right in the heart of Amritsar, the stunning golden architecture of the temple and the daily Langar (community kitchen) attract a large number of visitors and devotees each day. </p>
                            <p style="font-size: larger;">
                             The temple is open to devotees of all faiths and serves over 100,000 people free food from all walks of life.</p>
                        <br><br>
                        <br>
                         <br> 
                    </div>
                    <div class="hiddenr"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Jallianwala Bagh</h2><br>
                        <a href="https://www.thrillophilia.com/attractions/jallianwala-bagh">   
                            <img src="static\image\imgpunjab\Jallianwala_Bagh,_Amritsar_01.jpg" alt="Image" width="400" height="300"></a>
                        <p style="font-size: larger;">
                            A historic garden and a memorial, Jallianwala Bagh is one of the highly visited tourist places in Amritsar.  It was built in the memory of those people who died on 13th April 1919 in the bagh.</p>
                        <p style="font-size: larger;">
                            The 7-acre garden complex is located near the Golden Temple and is visited by many tourists from all corners of the globe.</p>
                        <p style="font-size: larger;">
                            </p>
                        
                        <br><br>
                        <br><br>
                        <br>
                    
                    </div>
                    
                </section>
            </div>
            
            <div class="tm-col-right">
                <section class="tm-content">
                    <div class="hidden"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Akal Takht</h2><br>
                        <a href="https://www.thrillophilia.com/attractions/akal-takht">   
                            <img src="static\image\imgpunjab\Akal-Takht.webp" alt="Image" width="400" height="300"></a>
                        <p style="font-size: larger;">
                            
                        </p>
                        <p style="font-size: larger;">
                            Originally known as Akal Bunga, Akal Takht is one of the five takhts in Sikhism.    
                        </p>
                        <p style="font-size: larger;">
                            Takhts are the sacred seat of Sikh Gurus and they work as a place where everyone can get justice. 
                        </p>

                        <p style="font-size: larger;">
                            Akal Takht is located next to the Golden Temple and is one of the finest tourist attractions in Amritsar.
                        </p>
                        
                        <br><br>
                        <br>
                         <br> 
                    </div>
                    <div class="hidden"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Patiala</h2><br>
                        <a href="https://www.holidify.com/places/gir-national-park/">   
                            <img src="static\image\imgpunjab\LAXMAN_ZOOLA,PATIALA.jpg" alt="Image" width="400" height="300"></a>
                        <p style="font-size: larger;">
                            The fourth-largest city in the state of Punjab, Patiala is nestled in the southeast of the golden land.</p>
                        <p style="font-size: larger;">
                            Patiala has strong historical and cultural roots, surrounded by architectural marvels and cultural heritage along with being a preferred destination for exploring the core traditions of Punjab</p>
                        <p style="font-size: larger;">
                           </p>
                        
                        <br><br>
                        <br>
                        <br>
                        
                    </div>
                   
                   
                </section>
            </div>
            <div class="tm-col-left">
                <section class="tm-content">
                    <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Ludhiyana:Manufacturing Hub of India </h2><br>
                        <a href="https://www.holidify.com/places/dwarka/">   
                            <img src="static\image\imgpunjab\LUDHIANA.jpg" alt="Image" width="400" height="300"></a>
                        <p style="font-size: larger;">
                            
                        </p>
                        <p style="font-size: larger;">
                            Situated on the banks of river Sutlej, Ludhiana, Punjab’s largest city, is one of the biggest manufacturing hubs in India. Also known as Manchester of India </p>
                        <p style="font-size: larger;">
                            Ludhiana is famous for its hosiery industries, the ancient ruins of the Lodi dynasty and the war museum.</p>
                             <p style="font-size: larger;">
                                Named after the Lodi dynasty, the city has retained the old world charm</p>
                             <br>
                         <br>  
                         <br>
                        
                    </p>
                        
    
                    </div>
                    <div class="hiddenl"> <!-- class="media my-3 mb-5 tm-service-media" "tm-service-media-img-l"-->
                        <h2 class="mb-4 tm-content-title">Attari-Wagah</h2><br>
                        <a href="https://www.thrillophilia.com/attractions/wagah-border">   
                            <img src="static\image\imgpunjab\Wagah-Border-Image.webp" alt="Image" width="400" height="230"></a>
                        <p style="font-size: larger;">
                            Wagah Border or Wagah-Attari border is the last Indian area before the Pakistan mainland.</p>
                        <p style="font-size: larger;">
                            It hosts a ceremony where the soldiers of India’s Border Security Force and Pakistan’s Pakistan Rangers march and parade making it among the top tourist attractions in Amritsar.</p>
                        <p style="font-size: larger;">
                            The area is filled with people on both sides celebrating the patriotic vibe.   
                        </p>
                      
                        <br>
                        <br>
                        <br>
                        <br>
                        
                    </div>
                </section>
            </div>
              

        

        <!--<div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>        
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Website Design By 
                    
                    | <a rel="nofollow" target="_parent" href="https://github.co" class="tm-text-link">COOKIES</a></p>
                </footer>
            </div>  
        </div> -->
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js" integrity="sha512-bXc1hnpHIf7iKIkKlTX4x0A0zwTiD/FjGTy7rxUERPZIkHgznXrN/2qipZuKp/M3MIcVIdjF4siFugoIc2fL0A==" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/t.js"></script>

    <script src="https://cdn.botpress.cloud/webchat/v2.1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/35f62baa-53e9-4c8f-abc1-6d6ae080eac5/webchat/v2.1/config.js"></script>

</body>

</html>